/* style halaman depan sebelum mulai game */


.container {
    background: url('6071843.jpg');
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

.text {
    font-size: 20px;
    color: rgb(26, 218, 198);
    text-align: center;
}

h1 {
    margin: 30 30 70px auto;
    font-size: 50px;
    color: blue;
    font-family: "Fredoka One", cursive;
    letter-spacing: 3px;
    text-align: center;
  }